<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="madras_check.admin.mapper.MUserMapper">
    <select id="selectMUserByEmail" resultType="MUser">
        SELECT *
        FROM muser
        WHERE email = #{email}
        LIMIT 1
    </select>
</mapper>